<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%=allPokemon[0].name %><br>
<img src="<%=allPokemon[0].img %>"><br>
<%=allPokemon[0].type %><br>
HP: <%=allPokemon[0].stats.hp %><br>
ATK: <%=allPokemon[0].stats.attack %><br>
DEF: <%=allPokemon[0].stats.defense %><br>

</body>
</html>