<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
    <h1>Pokemon Team</h1>
    <a href="/pokemon/new"><button class="new"><img src="https://i.imgur.com/V24VT4k.png" style="height: 30px;"> Catch a new pokemon <img src="https://i.imgur.com/V24VT4k.png" style="height: 30px"></button></a><br><br>

    <% for(let i = 0; i < 6; i++) { %>
        <div class="pokedexpokemon">
        <h2><%=allPokemon[i].name %></h2>
        <a href="/pokemon/<%= i %>"><img class="pokemonteam" src="<%=allPokemon[i].img %>"></a><br>
        <form action="/pokemon/<%= i %>?_method=DELETE" method="POST">
            <input class="professor" type="submit" value="Send to Professor">
        </form>
    </div>
    <% } %>

    </div>
</body>
</html>