<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Catch a New Pokemon</h1>
    <% var randomPokemon = allPokemon[Math.floor(Math.random() * allPokemon.length)]; %>
    <h2>You caught <%= randomPokemon.name %>!</h2>
    <img src="<%= randomPokemon.img %>"><br>
    Type: <%= randomPokemon.type %><br>
    HP: <%= randomPokemon.stats.hp %><br>
    ATK: <%= randomPokemon.stats.attack %><br>
    DEF: <%= randomPokemon.stats.defense %><br>

    <form action="/pokemon" method="POST">
    Give it a nickname? <input type="text" name="name" value="<%= randomPokemon.name %>"><br>

    <!-- Hidden preset stats -->
    <input class="hide" type="text" name="img" value="<%= randomPokemon.img %>"> 
    <input class="hide" type="text" name="type" value="<%= randomPokemon.type %>">
    <input class="hide" type="text" name="stats[hp]" value="<%= randomPokemon.stats.hp %>">
    <input class="hide" type="text" name="stats[attack]" value="<%= randomPokemon.stats.attack %>">
    <input  class="hide"type="text" name="stats[defense]" value="<%= randomPokemon.stats.defense %>">


    <input type="submit" value="Add to Team">
    </form><br>
    <a href="/pokemon/new"><button>Catch a different pokemon</button></a>
</body>
</html>